<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="get" action="{% url 'search7' %}">
        <label for="q8">Enter n for getting top wickets</label>
        <input type="text" name="q8" id="q8">
        <button type="submit">Search</button>
    </form>
    
    
    
      
    {% block content %}
    <h1>Search</h1>
    {% for i in result %}
    <p>Name: {{i.player.playername}}</p>
    <p>Jersey number: {{i.wickets}}</p>
    {% endfor %}
    
    {% endblock %}
    </body>
    </html>
    
    
</body>
</html>

