<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="get" action="{% url 'search5' %}">
        <label for="q5">Enter Match name</label>
        <input type="text" name="q5" id="q5">
        <label for="q6">Enter Date</label>
        <input type="text" name="q6" id="q6">
        <button type="submit">Search</button>
    </form>
    
    
    
      
    {% block content %}
    <h1>Search</h1>
    {% for i in result %}
    <p>Player name : {{i.playername}}</p>
    <p>Player Team: {{i.team.team_name}}</p>
    
    
    {% endfor %}
    {% endblock %}
    </body>
    </html>
    
    
</body>
</html>